:host {
  display: block;
  width: 100%
}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}
.dropdown-item {
  cursor: pointer;
  overflow-x: hidden;
}

.dropdown-item:active {
  color: white!important;
}

.dropdown-item.highlighted, .dropdown-item.highlighted:hover {
  background-color: #007bff;
  color: #fff!important;
}
