<div class="dropdown-menu show"
     style="position: absolute;
       transform: translate3d(0, 38px, 0);
       top: 0;
       left: 0;
       will-change: transform;">
  <a class="dropdown-item previous-page"
     [ngClass]="{'highlighted':this.activeIndex === 'prevPage'}"
     [hidden]="!showPreviousPageButton"
     (click)="getPrevPage()"><<<</a>
  <a class="dropdown-item choice hide-overflowed-text"
     [appHighlightChoice]="i === activeIndex"
     *ngFor="let item of choices; trackBy: trackByDictionary; let i = index"
     (click)="selectItem($event, item)">
    <ng-template
      [ngTemplateOutlet]="template"
      [ngOutletContext]="{$implicit: item}">
    </ng-template>
  </a>
  <a class="dropdown-item next-page"
     [hidden]="!showNextPageButton"
     [ngClass]="{'highlighted':this.activeIndex === 'nextPage'}"
     (click)="getNextPage()">>>></a>
</div>
