<div class="form-group">
  <label>Email address</label>
  <div class="select-dict dropdown">
    <div class="form-control dropdown-toggle hide-overflowed-text"
         tabindex="0"
         appSelectMatch
         [focus]="focusMatch"
         [hidden]="opened"
         (keydown)="onMatchKeyPress($event)"
         (click)="onOpen($event)">
      <ng-template *ngIf="selected"
        [ngTemplateOutlet]="matchTemplate"
        [ngOutletContext]="{$implicit: selected}">
      </ng-template>
      <span *ngIf="!selected">{{'Выберите вариант из списка'}}</span>
    </div>
    <input
      *ngIf="opened"
      class="form-control"
      appSelectSearch
      (keydown)="onSearchKeyPress($event)">
    {{opened}}
    <app-select-dict-choices
      *ngIf="opened"
      [choices]="items"
      [active]="active"
      [activeIndex]="activeIndex"
      [template]="choicesTemplate"
      (onSelect)="onSelect($event)"
    ></app-select-dict-choices>

  </div>
</div>
