<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div>
  <div class="" style="width: 500px;margin: 0 auto">

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <app-select-dict
      url="settlement"
      [(ngModel)]="selectedItem"
      [options]="{order: 'name'}"
      label="Город"
      placeholder="Город не выбран"
    >
      <ng-template let-selected #selectMatch>
        <span [title]="selected?.nameM">{{selected?.nameM}}</span>
      </ng-template>
      <ng-template let-item #selectChoices>
        <span [title]="item?.nameM">{{item.nameM}}</span>
      </ng-template>

    </app-select-dict>

    <app-select-dict
      url="settlement"
      [(ngModel)]="selectedItem"
      [options]="{order: 'name'}"
      placeholder="With out label"
    >
      <ng-template let-selected #selectMatch>
        <span [title]="selected?.nameM">{{selected?.nameM}}</span>
      </ng-template>
      <ng-template let-item #selectChoices>
        <span [title]="item?.nameM">{{item.nameM}}</span>
      </ng-template>

    </app-select-dict>
    <br>
    <p>Small size (size="sm")</p>
    <app-select-dict
      url="settlement"
      size="sm"
      [(ngModel)]="selectedItem"
      [options]="{order: 'name'}"
      placeholder="With out label"
    >
      <ng-template let-selected #selectMatch>
        <span [title]="selected?.nameM">{{selected?.nameM}}</span>
      </ng-template>
      <ng-template let-item #selectChoices>
        <span [title]="item?.nameM">{{item.nameM}}</span>
      </ng-template>

    </app-select-dict>

    {{selectedItem| json}}
  </div>
</div>
