<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col">

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <app-select-dict
      url="settlement"
      [(ngModel)]="selectedItem"
      [options]="{order: 'name'}"
      label="Город"
      placeholder="Город не выбран"
    >
      <ng-template let-selected #selectMatch>
        <span [title]="selected?.nameM">{{selected?.nameM}}</span>
      </ng-template>
      <ng-template let-item #selectChoices>
        <span [title]="item?.nameM">{{item.nameM}}</span>
      </ng-template>

    </app-select-dict>

    <app-select-dict
      url="settlement"
      [(ngModel)]="selectedItem"
      [options]="{order: 'name'}"
      placeholder="With out label"
    >
      <ng-template let-selected #selectMatch>
        <span [title]="selected?.nameM">{{selected?.nameM}}</span>
      </ng-template>
      <ng-template let-item #selectChoices>
        <span [title]="item?.nameM">{{item.nameM}}</span>
      </ng-template>

    </app-select-dict>
    <br>
    <p>Small size (size="sm")</p>
    <app-select-dict
      url="settlement"
      size="sm"
      [(ngModel)]="selectedItem"
      [options]="{order: 'name'}"
      placeholder="With out label"
    >
      <ng-template let-selected #selectMatch>
        <span [title]="selected?.nameM">{{selected?.nameM}}</span>
      </ng-template>
      <ng-template let-item #selectChoices>
        <span [title]="item?.nameM">{{item.nameM}}</span>
      </ng-template>

    </app-select-dict>
    <p>Without placeholder</p>
    <app-select-dict
      url="settlement"
      [(ngModel)]="selectedItem"
      [options]="{order: 'name'}"
    >
      <ng-template let-selected #selectMatch>
        <span [title]="selected?.nameM">{{selected?.nameM}}</span>
      </ng-template>
      <ng-template let-item #selectChoices>
        <span [title]="item?.nameM">{{item.nameM}}</span>
      </ng-template>

    </app-select-dict>
    <br>

    {{selectedItem| json}}
  </div>
</div>
